{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "consistent-return": "off",
    // "react/react-in-jsx-scope": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  }
}