.form__input-error {
  width: calc(358*100%/430);
  min-height: 30px;
  font-weight: 400;
  text-align: start;
  line-height: 15px;
  display: block;
  margin: 0 auto;
  font-size: 12px;
  color: red;
  opacity: 0;
}