.popup__input {
  display: block;
  margin: 0 auto 0;
  padding: 0 0 11px;
  width: 358px;
  border:none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}

@media screen and (max-width: 580px){
  .popup__input {
    width: 238px;
    padding: 0 0 11px;
  }
}
