.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  max-width: 880px;
  margin: auto;
  padding-bottom: 50px;
  color: #fff;
}
@media screen and (max-width: 880px) {
  .profile {
    max-width: 605px;
  }
}

@media screen and (max-width: 530px) {
  .profile {
    flex-direction: column;
    padding-bottom: 34.5px;
  }
}
